<section>
  <div class="collection-wrapper">
    <div class="container" style="margin-left: 220px">
      <div class="row" style="padding: 50px">
        <div class="col-md-2" style="padding-right: 30px">
          <div class="d-flex flex-column align-items-center text-center">
            <img
              class="rounded mt-5"
              src="https://i.imgur.com/0eg0aG0.jpg"
              width="100%"
            />

            <!-- <span class="p-3"><h3>NEO DESIGNER</h3></span> -->
            <span class="p-3"
              ><a class="btn btn-solid">Follow</a></span
            >
          </div>
        </div>
        <div class="col-md-8 text-justify p-3 py-5">
          <!-- <div class="row">
                <div class="col-md-2"> -->
          <div class="font-weight-bold">
            <div class="row">
              <div class="col-md-3">
                <h2>John Doe</h2>
              </div>
              <div class="col-md-9 text-left">3.6 Rating</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </h5>
              </div>
              <div
                _ngcontent-cxy-c10=""
                class="row p-8"
                style="display: flex; margin-left: 690px"
              >
                <div _ngcontent-cxy-c10="" class="profile-card-inf">
                  <div _ngcontent-cxy-c10="" class="profile-card-inf__item">
                    <div _ngcontent-cxy-c10="" class="profile-card-inf__title">
                      1598 +
                    </div>
                    <div _ngcontent-cxy-c10="" class="profile-card-inf__txt" style="margin-left: 10px;">
                      Followers
                    </div>
                  </div>
                  <div _ngcontent-cxy-c10="" class="profile-card-inf__item">
                    <div _ngcontent-cxy-c10="" class="profile-card-inf__title">
                      65 K
                    </div>
                    <div _ngcontent-cxy-c10="" class="profile-card-inf__txt">
                      Products
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row p-4"  style="display: flex;margin-left: 690px;">
                            <div class="profile-card-inf">
                                <div class="profile-card-inf__item">
                                  <div class="profile-card-inf__title">1598 +</div>
                                  <div class="profile-card-inf__txt">Followers</div>
                                </div>

                                <div class="profile-card-inf__item">
                                  <div class="profile-card-inf__title">65 K</div>
                                  <div class="profile-card-inf__txt">Products</div>
                                </div>
                              </div>
                        </div> -->
          </div>
          <!-- </div>
                <div class="col-md-10"> -->

          <!-- </div>
            </div> -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="theme-tab">
            <ul class="tabs tab-title">
              <li class="current"><a href="tab-4">New Products</a></li>
              <li class=""><a href="tab-5">Featured Products</a></li>
              <li class=""><a href="tab-6">Best Sellers</a></li>
            </ul>
            <div class="tab-content-cls">
              <div
                id="tab-4"
                class="tab-content active default"
                style="display: block"
              >
                <div class="collection-product-wrapper">
                  <div
                    class="section-t-space portfolio-section portfolio-padding metro-section port-col"
                  >
                    <div class="isotopeContainer row">
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>

                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                              <!-- -->
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h6>Ritu Verma</h6>
                            </a>
                            <h4>$500.00 <del>$600.00</del></h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 isotopeSelector">
                        <div class="product-box">
                          <div class="img-wrapper">
                            <div class="front">
                              <a
                                ><img
                                  src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                              /></a>
                            </div>
                            <div class="cart-info cart-wrap">
                              <button title="Whishlist">
                                <img
                                  _ngcontent-pjg-c4=""
                                  alt=""
                                  class="img-fluid"
                                  style="width: 70%; padding: 5px"
                                  src="assets/images/divattIcons/lock.png"
                                />
                              </button>
                            </div>
                          </div>
                          <div class="product-detail">
                            <a >
                              <h4><b>Ritu Verma</b></h4>
                              <h6 style="margin: 5px">Cotton Top</h6>
                            </a>
                            <h4>$500.00</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-pagination mt-0">
                    <div class="theme-paggination-block">
                      <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-12">
                          <nav aria-label="Page navigation">
                            <ul class="pagination">
                              <li class="page-item">
                                <a
                                  class="page-link"
                                  href="#"
                                  aria-label="Previous"
                                  ><span aria-hidden="true"
                                    ><i
                                      class="fa fa-chevron-left"
                                      aria-hidden="true"
                                    ></i
                                  ></span>
                                  <span class="sr-only">Previous</span></a
                                >
                              </li>
                              <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">2</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">3</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" aria-label="Next"
                                  ><span aria-hidden="true"
                                    ><i
                                      class="fa fa-chevron-right"
                                      aria-hidden="true"
                                    ></i
                                  ></span>
                                  <span class="sr-only">Next</span></a
                                >
                              </li>
                            </ul>
                          </nav>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-12">
                          <div class="product-search-count-bottom">
                            <h5>Showing Products 1-24 of 10 Result</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
